{% load static %}
{% include  "./header.html"%}
<body style="background-color: whitesmoke;background-image:url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-repeat:no-repeat;width: 100%; background-size: cover"></body>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container-fluid">
<br> 
<br>
<br>
<br>
<br>
<br>
<h1 align="center">
    <img src="{% static '/images/img3.png'%}"  style="width: 35%">
</h1>  
</div>          
</body>
{% include  "./footer.html"%}
	